@import url("bootstrap.min.css");
.panel > .list-group {
    margin-bottom: 0;
}
.panel > .list-group .list-group-item {
    border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.panel > .list-group .list-group-item:last-child {
    border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-70 {
    padding-top: 70px !important;
}
.highlighted {
    font-weight: bold;
    color: black;
}
.fr {
    float: right;
}
.form-control,.form-control:focus{
  border-radius:0 !important;
  border-color: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-color:  #D1D5D8 !important;
}

.panel {
    border-radius:0 !important;
}
kbd {
    background-color: #f2f2f2;
    color: grey;
    padding: 4px 5px;
    border-radius: 0;
    box-shadow: none;
}
.selected{
  background-color: #D1D5D8;
}
