<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Command Palette</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="cmdPalette"  ng-controller="MainController"  ng-keydown="closeDialog($event)">
 <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top pt-10">
           <div class="container">
             <input type="text" class="form-control" id="queryInput" placeholder="Search for..." ng-change="filterDataResult()" ng-model="query" autofocus>
           </div>
        </nav>

  <div class="row pt-70">
     <div class="col-md-12">
          <div class="panel panel-default">
            <ul class="list-group" >
              <a href="#" ng-repeat="cmd in commands track by $index" ng-click="sendCommand(cmd.name)" class="list-group-item" ng-class="{'selected' : $index == selectedCommand}">

                  <input type="text" ng-show="false"  id="command-{{$index}}" value="{{cmd.name}}" />
                  <span ng-bind-html="cmd.belongsTo + ' : ' + cmd.name | highlight : query"></span>
                  <kbd ng-if="cmd.keybinding" class="fr">
                    <span ng-bind-html="cmd.keybinding | commandKey"></span>
                  </kbd>
              </a>
            </ul>
          </div>
          <span ng-if="!commands.length" ng-bind-html="'No Matches Found'"></span>
     </div>
  </div>

</div>
  <script src="js/bind-polyfill.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-sanitize.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
